/* styling for navheader */
.topright {
    float: right;
    padding: 10px 8px 10px 8px;
}

.topleft {
    float: left;
    padding: 10px 8px 10px 8px;
}

}

.navheader {
    display: block;
    background-color: #cbcacf;
    display: inline-block;
    width: 98vw;
    margin: 6px;
}

h4 {
    padding: 10px 8px 10px 8px;
}

/* styling for quiz section */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cbcacf;
    background-image: url('../assets/images/grey.jpg');
}
.testmain {
    justify-content: center;
}

.headline {
    padding: 70px 0;
    text-align: center;
  }


#quizMain {
    text-align: center;
    padding: 10vh;
}

a {
    text-decoration: none;
    color: black;
}

/* styling for button */
button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
}

button:hover {
    background-color: #736e6e;
    cursor: pointer;
}
